.hexagon-node {
    width: 100px;
    height: 57.74px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hexagon-node:before,
  .hexagon-node:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
  }
  
  .hexagon-node:before {
    top: -28.87px;
    border-bottom: 28.87px solid #7FDBFF;
  }
  
  .hexagon-node:after {
    bottom: -28.87px;
    border-top: 28.87px solid #7FDBFF;
  }
  